<div class="panel panel-primary">
  <div class="panel-heading">
    <%= support.heading %>
  </div>

  <div class="panel-body">
    <%= render "shared/progress_bar_info", progress_name: support.progress[:name],
      size: support.words_info[:size], progress_class: support.progress[:class],
      words: support.words_info[:new], progress: support.progress[:bar],
      progress_id: support.progress[:id] %>
  </div>
</div>
