<% provide :title, title %>
<div class="row">
  <div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= title %></div>

    <div class="panel-body">
      <% if lessons.any? %>
        <ul class="lessons no-padding no-margin">
          <%= render partial: "lessons/lesson", collection: lessons %>
        </ul>
        <%= will_paginate lessons %>
      <% end %>
    </div>
  </div>

  </div>
</div>
