<% provide :title, t(".title") %>

<section class="row">
  <div class="col-md-3">
    <div id="panel">
      <%= render "panel", support: @support %>
    </div>

    <div id="result">
      <%= render "result", support: @support %>
    </div>
  </div>

  <div class="col-md-6">
    <div id="write">
      <%= render "write", current_word: @support.lesson.current_word.text %>
    </div>
  </div>
</section>
