<section class="row">
  <div class="col-md-6 result-panel">
    <div class="write d-flex form-group">
      <div class="text">
        <%= t("learning.finish_msg") %>
      </div>

      <div class="result-btn">
        <%= link_to t(".start_again"), new_writes_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
