<tr>
  <%= f.fields_for :word do |w| %>
    <%= render "word", f: w %>
  <% end %>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to t(".remove"), "#", class: "remove_record" %>
  </td>
</tr>
