<tr>
  <%= f.fields_for :word do |w| %>
    <%= render "word", f: w, view_only: view_only %>
  <% end %>
  <% unless view_only %>
    <td>
      <%= f.hidden_field :_destroy  %>
      <%= link_to t(".remove"), "#", class: "remove_record" %>
    </td>
  <% end %>
</tr>
