<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<% provide :button_text, t(".submit") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "form", lesson: @lesson %>
  </div>
</div>
