<%= render "shared/search", users: @header[:searched_users],
  lessons: @header[:searched_lessons],
  search_value: @search_support.value %>

<ul class="display-index">
  <%= render "lessons/lessons_info", lessons: @lessons %>
</ul>

<div class="row">
  <div class="col-md-9">
    <%= will_paginate @lessons %>
  </div>
</div>
