@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: #fff;
$layoutcol: #03f;
$lightblue: #39f;
$link-color: #337ab7;
$black: #000;
$yellow: #f90;
$red: #d9534f;
$gray: #999;
$darkblue: #006;
$lightyellow: #fc0;
$sdarkgray: rgba(0, 0, 0, .1);
$background: #f0f0f0;
$lightgray: #ccc;
$bisque: #ffe4c4;
$salmon: #fa8072;
$aliceblue: #f0f8ff;
$darkseagreen: #8fbc8f;
$notice-background-color: #dff0d8;
$notice-border-color: #d6e9c6;
$notice-color: #3c763d;
$alert-background-color: #f2dede;
$alert-border-color: #ebccd1;
$alert-color: #a94442;

// responsive variable

$res-320: 'only screen and (min-width: 320px) and (max-width: 374px)';
$res-375: 'only screen and (min-width: 375px) and (max-width: 424px)';
$res-425: 'only screen and (min-width: 425px) and (max-width: 767px)';
$res-768: 'only screen and (min-width: 768px) and (max-width: 991px)';
$res-992: 'only screen and (min-width: 992px) and (max-width: 1023px)';
$res-1024: 'only screen and (min-width: 1024px) and (max-width: 1999px)';
$res-1200: 'only screen and (min-width: 1200px)';

@mixin responsive-320() {
  @media #{$res-320} {
    @content;
  }
}

@mixin responsive-375() {
  @media #{$res-375} {
    @content;
  }
}

@mixin responsive-425() {
  @media #{$res-425} {
    @content;
  }
}

@mixin responsive-768() {
  @media #{$res-768} {
    @content;
  }
}

@mixin responsive-992() {
  @media #{$res-992} {
    @content;
  }
}

@mixin responsive-1024() {
  @media #{$res-1024} {
    @content;
  }
}

@mixin responsive-1200() {
  @media #{$res-1200} {
    @content;
  }
}

// end responsive variable

// nav-bar

.navbar-collapse {
  background-color: $layoutcol;
}

.navbar-default {
  background-color: $layoutcol;
}

// scss-lint:disable ImportantRule
.navbar-nav {

  .header-link {
    color: $white !important;
    font-size: 20px;

    &:focus,
    &:hover {
      background-color: $lightblue !important;
    }
  }

  .header-dropdown {
    font-size: 20px;
  }
}

.blue {
  background-color: $layoutcol !important;
}

// scss-lint:enable ImportantRule

// end nav bar

// header

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.unread-noti {
  background-color: $lightgray;
}

.bell {
  height: 31px;
  width: 55px;

  &:hover {
    background: image-url('active-bell.png');
    background-repeat: no-repeat;
  }
}

.inactive-bell {
  background: image-url('inactive-bell.png');
  background-position: center;
  background-repeat: no-repeat;
}

.active-bell {
  background: image-url('active-bell.png');
  background-repeat: no-repeat;
}

.read-marker {
  text-align: right;
}

// scss-lint:disable ImportantRule

.normal-link {
  color: $link-color !important;
  font-size: 14px;
}

// scss-lint:enable ImportantRule

// end header

// body

body,
html {
  background-color: $background;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.content-staticpage {
  margin-top: 100px;
  min-height: calc(100% - 150px);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.display-block {
  display: block;
}

.center {
  background: image-url('img_background.png');
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.align-items-center {
  align-items: center;
}

.bar {
  margin: 0;
}

.small-padding {
  padding: 4px;
}

.alert-notice {
  background-color: $notice-background-color;
  border-color: $notice-border-color;
  color: $notice-color;
}

.alert-alert {
  background-color: $alert-background-color;
  border-color: $alert-border-color;
  color: $alert-color;
}

.introdue {
  margin-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-size: 9em;
    line-height: 2em;
    text-shadow: -3px 0 4px $darkblue;
  }

  h2 {
    font-size: 3em;
  }
}

.paragraph {
  margin: 0 auto;
  width: 30%;

  p {
    font-size: 1.2em;
  }
}

.rawcontent {
  margin-top: 100px;

  h1 {
    margin: 0 auto;
    width: 55%;
  }
}

.lessons {
  list-style-type: none;
}

.lessons-index-item {
  text-decoration: none;
}

.no-text-decor {
  &:hover {
    text-decoration: none;
  }
}

.hover-bottom {
  border-bottom: 4px solid transparent;
  transition: all .5s;

  &:hover {
    border-bottom-color: $lightyellow;
  }
}

.lessons-header {
  padding-bottom: 20px;
  padding-top: 20px;
}

.lessons-edit-header {
  border-bottom: 1px solid $white;
  font-weight: bold;
}

.lessons-words {
  padding: 20px 0;
}

.lessons-title {
  margin-top: 30px;
  text-align: left;
}

.lessons-list {

  margin: 50px;

  .container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: auto;
    justify-content: center;
    width: 100%;
  }
}

.lessons-item {
  box-shadow: 4px 4px 8px 4px $gray;
  box-sizing: border-box;
  margin: 20px;
  min-height: 300px;
  transition: All .3s ease-in-out;
  width: 30%;

  img {
    height: 250px;
    width: 100%;
  }

  &:hover {
    border: 2px solid $lightblue;
    box-shadow: 0 0 20px 20px $sdarkgray;
    transform: scale(1.1);
    z-index: 2;
  }
}

.lessons-author {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 10px;
  margin-top: 20px;
  padding-left: 10%;
  text-align: left;
  text-shadow: 1px 0 2px $darkblue;

  a {
    color: $black;
    list-style-type: none;
    padding: 3px;
    text-decoration: none;

  }

  img {
    border-radius: 10%;
    height: 10%;
    width: 10%;
  }
}

.lessons-name {
  padding-bottom: 20px;
  padding-left: 11%;
  text-align: left;
  width: 400px;
  word-wrap: break-word;

  h3 {
    font-weight: 700;
  }
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

.word {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bg-white {
  background-color: $white;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.my-5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-140 {
  margin-left: 140px;
}

.px-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.px-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.no-border {
  border: 0;
}

.no-padding {
  padding: 0;
}

.h-40 {
  height: 40px;
}

// scss-lint:disable ImportantRule

.no-margin {
  margin: 0 !important;
}

// scss-lint:enable ImportantRule

.display-index {
  li {
    list-style: none;
  }
}

.border-right {
  border-right: 1px solid $lightgray;
}

.border-bottom {
  border-bottom: 1px solid $lightgray;
}

.btn-signup {
  background-color: $lightblue;
  color: $white;
  padding: 18px;

  &:hover {
    background-color: $yellow;
  }
}

.notification-list {
  width: 350px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

// flashcard

.finish {
  display: none;
  margin: auto;
  margin-bottom: 20px;
  width: 600px;
}

.row {
  padding-left: 50px;
  width: 100%;
}

.panel-heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.progress-info {

  .info {
    text-align: right;
  }

  .learnt-words,
  .words-size {
    display: inline;
  }
}

.flashcards {
  background-color: $white;
  border-radius: 4px;
  height: 361px;
  margin: auto;
  text-align: center;
  width: 600px;

  .words,
  .def {
    display: none;
  }

  .active {
    display: block;
  }

  .text,
  .def {
    font-size: 34px;
    font-weight: bold;
    margin: auto;
    padding: 25% 0;
  }
}

.btn {
  border-radius: 17px;
}

.learning {
  margin-top: 20px;
  text-align: center;
}

// end flashcard

// writes

.write {
  background-color: $white;
  border-radius: 4px;
  height: 368px;
  margin: auto;
  text-align: center;
  width: 815px;

  .text {
    font-size: 34px;
    font-weight: bold;
    margin: auto;
  }
}

.result-panel {
  float: none;
  width: 100%;
}

.result-text {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}

.flex-box {
  display: flex;
}

.soft-red {
  background-color: $bisque;
}

.red {
  background-color: $salmon;
}

.bgc-red {
  background-color: $red;
}

.soft-green {
  background-color: $aliceblue;
}

.green {
  background-color: $darkseagreen;
}

.answer-form {
  align-items: center;
  border-top: 1px solid $lightgray;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.answer-text {
  flex-basis: 80%;
}

.display-inline-block {
  display: inline-block;
}

.remain-bar,
.correct-bar,
.incorrect-bar {
  padding-bottom: 45px;
}

// end writes

// devise-form

.devise-form {
  display: table;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  input {
    border: thin solid $black;
    margin-bottom: 15px;
    width: 100%;

    &:hover {
      border: 1.5px solid $yellow;
    }
  }

  select {
    background-color: $white;
    border: thin solid $black;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: .5em 3.5em .5em 1em;
  }

  .inline {
    float: left;
    margin: 0 10px 10px 0;
  }

  .clearboth {
    clear: both;
  }
}

// end signup-form

// end body

// footer

footer {
  background-color: $layoutcol;
  height: 150px;
  padding-top: 40px;

// scss-lint:disable ImportantRule

  a {
    color: $white;
    font-size: 20px;
    text-decoration: none !important;

// scss-lint:enable ImportantRule

    &:hover {
      color: $lightblue;
    }
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  p {
    color: $white;
    margin-left: 10%;
  }
}

// responsive

@include responsive-320 {
  .lessons-item {
    width: 100%;
  }

  .introdue {

    h1 {
      font-size: 4em;
    }

    p {
      font-size: .6em;
    }
  }

  .lessons-name {
    width: 200px;

    h3 {
      font-size: 1.4em;
    }
  }
}

@include responsive-375 {
  .lessons-item {
    width: 100%;
  }

  .introdue {

    h1 {
      font-size: 5em;
    }

    p {
      font-size: .7em;
    }
  }

  .lessons-name {
    width: 200px;

    h3 {
      font-size: 1.5em;
    }
  }
}

@include responsive-425 {
  .lessons-item {
    width: 80%;
  }

  .introdue {

    h1 {
      font-size: 6em;
    }

    p {
      font-size: .8em;
    }
  }

  .lessons-name {
    width: 250px;

    h3 {
      font-size: 1.6em;
    }
  }
}

@include responsive-768 {
  .lessons-item {
    width: 50%;
  }

  .introdue {

    h1 {
      font-size: 7em;
    }

    p {
      font-size: .9em;
    }
  }
}

@include responsive-992 {
  .lessons-item {
    width: 40%;
  }

  .introdue {

    h1 {
      font-size: 8em;
    }

    p {
      font-size: 1em;
    }
  }
}

@include responsive-1024 {
  .lessons-item {
    width: 30%;
  }

  .introdue {

    h1 {
      font-size: 9em;
    }

    p {
      font-size: 1.1em;
    }
  }

  .lessons-name {
    width: 250px;

    h3 {
      font-size: 1.8em;
    }
  }
}

@include responsive-1200 {
  .lessons-item {
    width: 30%;
  }

  .introdue {

    h1 {
      font-size: 9em;
    }

    p {
      font-size: 1.2em;
    }
  }
}
